@import "rose-pine.css";

* {
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0px;
}

#waybar {
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-weight: bold;
  background-color: @base;
}

#workspaces button {
  padding: 0px 5px;
  min-width: 10px;
  color: @text;
}

#workspaces button.empty {
    color: @muted;
}

#workspaces button.focused {
  color: @text;
  background-color: @highlightMed;
}

#workspaces button.urgent {
  background-color: @love;
  color: @base;
}

#clock,
#battery,
#pulseaudio,
#window,
#network,
#bluetooth,
#cpu,
#scratchpad,
#tray,
#memory {
  padding: 0px 8px;
  color: @text;
}

#pulseaudio.muted {
  color: @muted;
}

#battery.critical {
  color: @love;
}

tooltip {
  background: @base;
  border: 1px solid @overlay;
}

tooltip label {
  color: @text;
}
