* {
  font-family: "Noto Sans Mono";
  font-size: 17px;
  min-height: 0;
  border-radius: 0;
  border: none;
}

window#waybar {
  background: #000000;
}

tooltip {
  background: #000000;
  border: 2px solid #718096;
}

tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 3px;
  color: white;
}

#workspaces button.focused {
  background-color: #718096;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#idle_inhibitor,
#scratchpad {
  margin: 2px;
  padding: 0px 5px;
  color: white;
}

#mode {
  color: #f53c3c;
  margin: 2px;
  padding: 0px 5px;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}

#network.disconnected {
  color: #f53c3c;
}

#temperature.critical {
  color: #eb4d4b;
}
