[Desktop Entry]
Name=Neovim
Comment=Edit text files with Neovim in Foot terminal
Exec=foot -e nvim %F
Icon=nvim
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=Text;Editor;Neovim;Vim;
