[Desktop Entry]
Name=Wiremix
Exec=foot --title=wiremix -e wiremix
Icon=multimedia-volume-control
Terminal=false
Type=Application
Categories=Utility;System;
